certifi==2019.3.9
chainside-btcpy==0.6.4
chardet==3.0.4
Click==7.0
ecdsa==0.13
Flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
Pillow==5.4.1
psycopg2-binary==2.7.7
requests==2.21.0
urllib3==1.24.1
Werkzeug==0.14.1
